<% @title = "Home" %>
<div class="page-header">
	<h1><% if user_signed_in? %>Welcome <%= current_user.first_name %><% else %>Not Logged In<% end %>!</h1>
</div>
<div class="row">
	<div class="span9">
		<p>Dashboard coming soon...</p>
	</div>
</div>
