<% @title = "Home" %>
					<div class="page-header">
						<h1><% if employee_signed_in? %>Hi <%= current_employee.first_name %><% else %>Not Logged In<% end %>!</h1>
					</div>
					<div class="row">
						<div class="span4">
							<h3>Appointments</h3>
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>Time</th><th>Patient</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2">Coming soon...</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="span5">
							<h3>To Do</h3>
							<ul>
								<li>Coming soon...</li>
							</ul>
						</div>
					</div>
