<% @title = "Home" %>
					<div class="page-header">
						<h1><% if employee_signed_in? %>Hi <%= current_employee.first_name %><% else %>Not Logged In<% end %>!</h1>
					</div>
					<div class="row">
						<div class="span9">
							<div class="alert alert-block alert-success">
								<a href="#" class="close" data-dismiss="alert">&times;</a>
								<h4>Something Important?</h4>
								<p>Here is where alerts can appear.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<h3>Appointments</h3>
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>Time</th><th>Patient</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>8:00 - 8:15</td><td><a href="appointment_new.html">John Smith</a></td>
									</tr>
									<tr>
										<td>10:00 - 10:15</td><td><a href="appointment_new.html">John Smith</a></td>
									</tr>
									<tr>
										<td>2:30 - 2:45</td><td><a href="appointment_new.html">John Smith</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="span5">
							<h3>To Do</h3>
							<ul>
								<li>Item 1 <span class="label label-important">Overdue</span></li>
								<li>Item 2</li>
								<li>Item 3</li>
								<li>Item 4</li>
								<li>Item 5</li>
							</ul>
						</div>
					</div>
