<% @title = "Show Employment Type" %>
<div class="page-header">
	<h1><%= @employment_type.name %> (Employment Type)<% if can? :update, @employment_type %><%= link_to "Edit Employment Tyoe", edit_admin_employment_type_path(@current_account, @employment_type), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>

<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd><%= @employment_type.name %></dd>
	<dt>Active</dt>
	<dd><%= @employment_type.active %></dd>
</dl>
