<% @title = "Show Employment Type" %>
<div class="page-header">
	<h1><%= @employment_type.name %> (Employment Type) <%= link_to "Edit Employment Tyoe", edit_admin_employment_type_path(@employment_type), :class => "btn btn-primary pull-right" %></h1>
</div>


<dl>
	<dt>Name</dt>
	<dd><%= @employment_type.name %></dd>
	<dt>Active</dt>
	<dd><%= @employment_type.active %></dd>
</dl>
