<% @title = "Create Invoice" %>
<div class="page-header">
	<h1>New Invoice <% if can? :void, @invoice %><a href="#void-modal" role="button" data-toggle="modal" class="btn btn-danger pull-right">Void Transaction</a><% end %></h1>
</div>
<%= render "form" %>