<% @title = "Lens Materials" %>
<div class="page-header">
	<h1>Find Lens Materials <%= link_to "New Lens Materials", new_admin_lens_material_path, :class => "btn btn-success pull-right" %></h1>
</div>
<form class="well form-search">
	<input type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>

<% if @lens_materials.empty? then %>
<p>No lens materials found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Lens Material</th>
		</tr>
	</thead>
	<tbody>
<% @lens_materials.each do |lens_material| %>
		<tr>
			<td><%= link_to lens_material.name, admin_lens_material_path(lens_material) %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @lens_materials %>
<% end %>