<% @title = "Show Lens Material" %>
<div class="page-header">
	<h1><%= @lens_material.name %> (Lens Material)<% if can? :update, @lens_material %><%= link_to "Edit Lens Material", edit_admin_lens_material_path(@current_account, @lens_material), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>

<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd><%= @lens_material.name %></dd>
	<dt>Active</dt>
	<dd><%= @lens_material.active %></dd>
</dl>
