<div class="span9">
	<div class="page-header">
		<h1>Administration</h1>
	</div>
	<dl>
		<dt><a href="countries.html">Countries</a><dt>
		<dd>Maintain countries<dd>
		<dt><a href="defaults.html">Defaults</a><dt>
		<dd>Maintain defaults<dd>
		<dt><a href="employees.html">Employees</a><dt>
		<dd>Maintain employees<dd>
		<dt><a href="states.html">States</a><dt>
		<dd>Maintain states<dd>
		<dt><a href="store.html">Store</a><dt>
		<dd>Maintain store<dd>
		<dt><a href="suppliers.html">Suppliers</a><dt>
		<dd>Maintain suppliers<dd>
		<dt><a href="suppliers.html">Taxes</a><dt>
		<dd>Maintain taxes<dd>
	</dl>
</div>