<% @title = "Administration" %>
				<div class="span12">
					<div class="page-header">
						<h1>Administration</h1>
					</div>
					<div class="span3">
						<h2>People</h2>
						<dl>
							<dt><%= link_to "Employees", :admin_employees %></dt>
							<dd>Maintain employees<dd>
							<dt><%= link_to "Optometrists", :admin_optometrists %></dt>
							<dd>Maintain optometrists<dd>
							<dt><%= link_to "Employment Types", :admin_employment_types %></dt>
							<dd>Maintain employment types<dd>
							<dt><%= link_to "Genders", :admin_genders %></dt>
							<dd>Maintain genders<dd>
							<dt><%= link_to "Personal Titles", :admin_personal_titles %></dt>
							<dd>Maintain personal titles<dd>
						</dl>
						<h2>Geographic</h2>
						<dl>
							<dt><%= link_to "Countries", :admin_countries %></dt>
							<dd>Maintain countries<dd>
							<dt><%= link_to "Stores", :admin_stores %></dt>
							<dd>Maintain stores<dd>
						</dl>
					</div>
					<div class="span3">
						<h2>Inventory</h2>
						<dl>
							<dt><a href="inventory.html">Inventory</a></dt>
							<dd>Manage inventory</dd>
							<dt><a href="suppliers.html">Suppliers</a></dt>
							<dd>Maintain suppliers<dd>
							<dt><a href="stock_take.html">Stock Take</a></dt>
							<dd>Maintain stock take<dd>
						</dl>
						<h2>Taxation</h2>
						<dl>
							<dt><a href="suppliers.html">Taxes</a></dt>
							<dd>Maintain taxes<dd>
							<dt><a href="tax_classes.html">Tax Classes</a></dt>
							<dd>Maintain tax classes</dd>
						</dl>
					</div>
					<div class="span3">
						<h2>Contacts</h2>
						<dl>
							<dt><a href="lense_types.html">Brands</a></dt>
							<dd>Brands</dd>
						</dl>
						<h2>Lenses</h2>
						<dl>
							<dt><a href="lens_materials.html">Materials</a></dt>
							<dd>Manage lens materials</dd>
							<dt><a href="lens_styles.html">Styles</a></dt>
							<dd>Manage lens styles</dd>
							<dt><a href="lens_types.html">Types</a></dt>
							<dd>Manage lens types</dd>
						</dl>
					</div>
				</div>
