<% @title = "Show Brand" %>
<div class="page-header">
	<h1><%= @brand.name %> (Brand)<% if can? :update, @brand %><%= link_to "Edit Brand", edit_admin_brand_path(@current_account, @brand), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>


<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd><%= @brand.name %></dd>
	<dt>Active</dt>
	<dd><%= @brand.active %></dd>
</dl>
