<% @title = "Show Company" %>
<div class="page-header">
	<h1><%= @company.name %> (Company) <%= link_to "Edit Company", edit_admin_company_path(@company), :class => "btn btn-primary pull-right" %></h1>
</div>


<dl>
	<dt>Name</dt>
	<dd><%= @company.name %></dd>
	<dt>Active</dt>
	<dd><%= @company.active %></dd>
</dl>
