<div class="page-header">
	<h1>Find Country</h1>
</div>
<form class="well form-search">
	<input type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>
<%= link_to "New Country", :new_admin_country, :class => "btn btn-primary" %>
<% if @countries.empty? then %>
<p>No countries found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Enabled</th>
		</tr>
	</thead>
	<tbody>
<% @countries.each do |country| %>
		<tr>
			<td><%= link_to country.name, [:admin, country] %></td>
			<td><%= country.enabled %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @countries %>
<% end %>