<% @title = "Show Personal Title" %>
<div class="page-header">
	<h1><%= @personal_title.title %> (Personal Title)<% if can? :edit, @personal_title %><%= link_to "Edit Personal Title", edit_admin_personal_title_path(@personal_title), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>


<dl>
	<dt>Title</dt>
	<dd><%= @personal_title.title %></dd>
	<dt>Active</dt>
	<dd><%= @personal_title.active %></dd>
</dl>
