@import "bootstrap";
@import "bootstrap-responsive";
footer {
	display: block;
    margin-top: 60px;
    padding-top: 20px;
    background-color: #222222;
    color: #999999;
    padding-bottom: 40px;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: #ffffff;
}
