<% @title = "Show Gender" %>
<div class="page-header">
	<h1><%= @gender.name %> (Gender)<% if can? :update, @gender %><%= link_to "Edit Gender", edit_admin_gender_path(@gender), :class => "btn btn-primary pull-right" %><% end %></h1>
</div>


<dl>
	<dt>Name</dt>
	<dd><%= @gender.name %></dd>
	<dt>Active</dt>
	<dd><%= @gender.active %></dd>
</dl>
