<div class="page-header">
	<h1>Find State</h1>
</div>
<form class="well form-search">
	<input type="text" class="search-query">
	<button type"submit" class="btn btn-info">Search</button>
</form>
<%= link_to "New State", :new_admin_country_state, :class => "btn btn-primary" %>
<% if @states.empty? then %>
<p>No states found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Short Name</th>
		</tr>
	</thead>
	<tbody>
<% @states.each do |state| %>
		<tr>
			<td><%= link_to state.name, [:admin, @country, state] %></td>
			<td><%= link_to state.short_name, [:admin, @country, state] %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @states %>
<% end %>